
@keyframes slide-up {
	from {
		bottom: -100vh;
	}
	to {
		bottom: 0;
	}
}

@keyframes slide-down {
	from {
		bottom: 100vh;
	}
	to {
		bottom: 0vh;
	}
}

@keyframes on-leave {
	from {
		top: 0;
	}
	to {
		top: -100vh;
	}
}

.track{
	position:absolute;
	top:15px;
	left:15px;
	background-color:rgba(255,255,255,0.5);
	padding: 0 10%;
}
